body {
    background: linear-gradient(#dad9d5, white);
}

#navbar {
    background-color: #1e394c;
}

th {
    font-family: Bahnschrift, sans-serif;
    margin-top: 2vw;
    height: 3vw;
    text-align: center;
    background-color: #1e394c;
    font-size: 15px;
    color: white;
    font-weight: bold;   
    margin-left: 1px;
}

#home,#cars,#pricelist,#order,#rent,#contact
{   
    cursor: pointer;
    filter: brightness(75%);
    text-align: center;
}

#home:hover,#cars:hover,#pricelist:hover,#order:hover,#rent:hover,#contact:hover
{
    
     cursor: pointer;
     filter: brightness(100%);
    border-bottom: 3px solid #89c64a;
    
}

/*#slideShow {
    border: 1px solid red;
    height: 25vw;
    padding: 10px;
}*/

#slideShowMustang {
    height: 90%;
    object-fit: contain;
    margin-top: 2vw;
    margin-left: 2vw;
}

#firstBlockLink, #thirdBlockLink {
    text-align: right;
    filter: brightness(75%);
}

#firstBlockLink:hover, #thirdBlockLink:hover {
    filter: brightness(100%);
}

#secondBlockLink {
    filter: brightness(75%);
}

#secondBlockLink:hover {
    filter: brightness(100%);
}


#firstBlockLinkImg, #secondBlockLinkImg, #thirdBlockLinkImg {
    width: 100%;
    object-fit: contain;
}

#firstBlockLinkImg:hover, #secondBlockLinkImg:hover, #thirdBlockLinkImg:hover {
    cursor: pointer;
}

#fisrtBlockLinkText {
    font-family: Bahnschrift, sans-serif;
    font-size: 3vw;
    color: #89c64a;
    text-align: center;
    letter-spacing: 1vh;
    position: absolute;
    top: 4.5vh;
    right: 9.5vh;
    cursor: pointer;
}

#secondBlockLinkText {
    font-family: Bahnschrift, sans-serif;
    font-size: 3vw;
    color: #89c64a;
    text-align: center;
    letter-spacing: 1vh;
    position: absolute;
    top: 4.5vh;
    left: 10.5vh;
    cursor: pointer;
}

#thirdBlockLinkText {
    font-family: Bahnschrift, sans-serif;
    font-size: 3vw;
    color: #89c64a;
    text-align: center;
    letter-spacing: 1vh;
    position: absolute;
    top: 6.5vh;
    right: 10.5vh;
    cursor: pointer;
}

#footer {
    margin-top: 2vw;
    height: 3vw;
    background-color: #1e394c;
}