#form {
    text-align: center;
}

.lol {
    color: #1e394c;
    float: left;
    margin-left: 15px;
    font-weight: bold;
} 

.set {
    text-align: center;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #1e394c;
}

#button {
    margin-top: 10px;
    filter: brightness(90%);
}

#button:hover {
    filter: brightness(100%);
}

table, th, td {
   width: 5%;
}

#tablelogin {
    margin: 0px auto;
    text-align: center;    
    background-color: white;
    border: none;
    box-shadow: 3px 3px 3px grey;
    width: 200px;
    padding-bottom: 200px;
}

#checkBox {
    display:none;
}

#usr, #pwd {
    border: none;
    border-bottom: 2px solid #8ac64a;
    margin-bottom: 10px;
}

#apo {
    margin: 20px auto;
    width: 80%;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    overflow: auto;   /* Scrollbar is displayed as it's needed */
}

#apo td {
    border-bottom: 1px solid #1e394c;
    min-width: 30px;
    max-width: 200px;
    font-size: 0.8vw;
    text-align: center;
    padding: 1px;
    height: 30px;
}

#apo tr:nth-child(2n+2) {
    background-color: #1e394c;
    color: white;
}

#apo tr:nth-child(2n+2) {
    background-color: #1e394c;
    color: white;
}

#apo td {
    border: 1px solid #1e394c;
}

#apo th {
    text-align: center;
}