/* headOrderForm */
#headOrderForm,#checkvalues,#thank {
    color: #1e394c;
    text-align: center;
    font-size: 2vw;
    margin-top: 1vw;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type=date]::-webkit-clear-button {
    display: none;
}
input[type=time]::-webkit-clear-button {
    display: none;
}

#delltime,#picktime,#send,#repair
{

    display:none;
}

#checkvalues,#thank
{
    display:none;
}

input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:0 0 3px white;
}



/* rowOrderForm */
#rowOrderForm {
    margin-top: 1vw;
    background-color: white;
    box-shadow: 0.1vw 0.1vw 1vw grey;
}
.error {
    border: solid 2px #FF0000;  
}

/* pOrderForm */
.pOrderForm {
    color: #1e394c;
    font-size: 1.3vw;
    margin-bottom: 0px;
    margin-top: 2%;
    font-weight: 600;
}

/* noMarginTop */
.noMarginTop {
    margin-top: 0px;
}

/* star */
.star {
    color: #89c64a;
    font-weight: 600;
}

/* select, input */
select, input {
    color: #1e394c;
    font-size: 1.3vw;
    margin-top: 0px;
    border: none;
    border-bottom: 2px solid #89c64a;
    height: 3.5vh;
    width: 100%;
}

/* inputDate */
#inputDate,#inputDelDate {
    width: 70%;
    float: left;
}

/* inputTime */
#inputTime,#inputDelTime {
    margin-left: 5%;
    width: 25%;
}

/* Form */
#Form {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* buttomForm */
#buttomForm {
    text-align: center;
    font-weight: bold;
    color: #1e394c;
    font-size: 2vw;
}

/* textPrice */
#textPrice {
    margin-bottom: 0px;
}

/* price */
#price {
    color: #89c64a;
    font-size: 2.5vw;
}

/* button */
#button,#repair,#send {
    text-align: center;
    font-weight: bold;
    border: none;
    margin-bottom: 3%;
    width: 12vw;
    height: 3vw;
    background-color: #89c64a;
}

/* button:hover */
#button:hover,#repair:hover,#send:hover {
    cursor: pointer;
    background-color: #9fd763;
}

/* legend */
#legend {
    margin-top: 1vw;
    font-size: 1vw;
}